/* Estilos gerais */
body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: inline-flex;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* Ajustes para telas menores (celular) */
@media (max-width: 768px) {
    .section_top {
        flex-direction: column;
        align-items: center;
    }

    .section_middle, .section_bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .incluir {
        margin: 10px 0;
    }

    .section_middle label, .section_bottom label {
        font-size: 18px;
    }

    .popup-container {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .popup-content {
        width: 100%;
        padding: 20px;
        overflow: auto;
    }

    .popup-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.6);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
}

/* Ajustes para telas maiores (desktop) */
@media (min-width: 769px) {
    .popup-container {
        width: 50%;
        height: auto;
    }

    .popup-content {
        width: 100%;
        padding: 30px;
    }

    .section_middle label, .section_bottom label {
        font-size: 23px;
    }
}
